.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Anton', sans-serif;
}

.titleContainer {
  width: 100%;
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
}

.titleContainer > * {
  margin-left: 30px;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.operationSelectorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.operationSelected {
  font-weight: bold;
  color: #8884d8;
}

@media (max-width: 600px) {
  .title {
    font-size: 60px;
  }

  .container {
    width: 100vh;
  }
}
