.container {
  background-color: #121212;
  padding: 20px;
  margin: 20px;
  border-left: solid 2px #8884d8;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
    font-size: 30px;
  }
  .column {
    align-items: center;
  }
}
